@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700");
/* line 11, ../scss/memes.scss */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* line 17, ../scss/memes.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  color: white;
  background-color: #78B5E4;
}
/* line 27, ../scss/memes.scss */
header h1 {
  font-weight: 400;
}

/* line 32, ../scss/memes.scss */
.wrapper {
  margin: 0 auto;
  width: 98%;
  max-width: 1000px;
}

/* line 38, ../scss/memes.scss */
header + .wrapper {
  margin-top: 80px;
}
