@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i");
/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
/* line 9, ../scss/_sanitise.scss */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* line 14, ../scss/_sanitise.scss */
audio:not([controls]) {
  display: none;
}

/* line 18, ../scss/_sanitise.scss */
b,
strong {
  font-weight: bolder;
}

/* line 23, ../scss/_sanitise.scss */
button {
  -webkit-appearance: button;
  overflow: visible;
}

/* line 30, ../scss/_sanitise.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 35, ../scss/_sanitise.scss */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* line 40, ../scss/_sanitise.scss */
button,
select {
  text-transform: none;
}

/* line 45, ../scss/_sanitise.scss */
details {
  display: block;
}

/* line 49, ../scss/_sanitise.scss */
hr {
  overflow: visible;
}

/* line 53, ../scss/_sanitise.scss */
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

/* line 59, ../scss/_sanitise.scss */
input {
  -webkit-border-radius: 0;
}
/* line 62, ../scss/_sanitise.scss */
input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
}
/* line 68, ../scss/_sanitise.scss */
input[type="number"] {
  width: auto;
}
/* line 72, ../scss/_sanitise.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}
/* line 75, ../scss/_sanitise.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 82, ../scss/_sanitise.scss */
main {
  display: block;
}

/* line 86, ../scss/_sanitise.scss */
pre {
  overflow: auto;
}

/* line 90, ../scss/_sanitise.scss */
progress {
  display: inline-block;
}

/* line 94, ../scss/_sanitise.scss */
summary {
  display: block;
}

/* line 98, ../scss/_sanitise.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 102, ../scss/_sanitise.scss */
template {
  display: none;
}

/* line 106, ../scss/_sanitise.scss */
textarea {
  overflow: auto;
}

/* line 110, ../scss/_sanitise.scss */
[hidden] {
  display: none;
}

/*
 * Universal inheritance
 */
/* line 118, ../scss/_sanitise.scss */
*,
::before,
::after {
  box-sizing: inherit;
}

/* line 124, ../scss/_sanitise.scss */
* {
  font-size: inherit;
  line-height: inherit;
}

/* line 129, ../scss/_sanitise.scss */
::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/* line 135, ../scss/_sanitise.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/*
 * Opinionated defaults
 */
/* line 152, ../scss/_sanitise.scss */
* {
  margin: 0;
  padding: 0;
}

/*
*,
::before,
::after {
	border-style: solid;
	border-width: 0;
}
*/
/* line 168, ../scss/_sanitise.scss */
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  touch-action: manipulation;
}

/* line 181, ../scss/_sanitise.scss */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 185, ../scss/_sanitise.scss */
select::-ms-expand {
  display: none;
}
/* line 189, ../scss/_sanitise.scss */
select::-ms-value {
  color: currentColor;
}

/* line 196, ../scss/_sanitise.scss */
svg {
  fill: currentColor;
}

/* line 202, ../scss/_sanitise.scss */
[aria-busy="true"] {
  cursor: progress;
}

/* line 208, ../scss/_sanitise.scss */
[aria-controls] {
  cursor: pointer;
}

/* line 214, ../scss/_sanitise.scss */
[aria-disabled] {
  cursor: default;
}

/* line 220, ../scss/_sanitise.scss */
[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}
/* line 225, ../scss/_sanitise.scss */
[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

/*
 * Configurable defaults
 */
/* line 238, ../scss/_sanitise.scss */
* {
  background-repeat: no-repeat;
}

/* line 244, ../scss/_sanitise.scss */
:root {
  background-color: white;
  color: #444;
  font: 16px "Open Sans", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* line 256, ../scss/_sanitise.scss */
a {
  text-decoration: none;
}

/* line 262, ../scss/_sanitise.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* line 273, ../scss/_sanitise.scss */
button,
input,
select,
textarea {
  background-color: transparent;
  color: #444;
}

/* line 283, ../scss/_sanitise.scss */
button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

/*
code,
kbd,
pre,
samp {
	font-family: $monospace;
}
*/
/*
nav ol,
nav ul {
	list-style: none;
}
*/
/* line 323, ../scss/_sanitise.scss */
small {
  font-size: 14px;
}

/* line 329, ../scss/_sanitise.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 336, ../scss/_sanitise.scss */
textarea {
  resize: vertical;
}

/* line 342, ../scss/_sanitise.scss */
::-moz-selection {
  background-color: #444;
  color: white;
  text-shadow: none;
}

/* line 348, ../scss/_sanitise.scss */
::selection {
  background-color: #444;
  color: white;
  text-shadow: none;
}

/* line 1, ../scss/_typography.scss */
p {
  margin: 0;
  margin-bottom: 16px;
}

/* line 6, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  line-height: inherit;
}

/* line 12, ../scss/_typography.scss */
h1 {
  font-size: 36px;
  font-weight: 400;
  margin: 20px 0 16px;
}

/* line 18, ../scss/_typography.scss */
h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 16px;
}

/* line 24, ../scss/_typography.scss */
h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 16px 0 4px;
}

/* line 30, ../scss/_typography.scss */
h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0 4px;
}

/* line 36, ../scss/_typography.scss */
h5 {
  font-size: 16px;
  font-weight: 700;
  margin: 16px 0 4px;
}

/* line 42, ../scss/_typography.scss */
a {
  color: #3892d7;
  text-decoration: none;
  border-bottom: 1px solid #3892d7;
  -moz-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  -webkit-transition: all 0.15s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.15s ease-out 0s;
}
/* line 48, ../scss/_typography.scss */
a:hover {
  color: #78B5E4;
  border-bottom-color: #78B5E4;
}

/* line 50, ../scss/memes.scss */
table {
  width: 100%;
}
/* line 53, ../scss/memes.scss */
table th {
  text-align: left;
}
/* line 56, ../scss/memes.scss */
table td {
  text-align: center;
}

/* line 61, ../scss/memes.scss */
img {
  max-width: 100%;
}

@font-face {
  font-family: 'memes';
  src: url("fonts/memes.eot?tw67j0");
  src: url("fonts/memes.eot?tw67j0#iefix") format("embedded-opentype"), url("fonts/memes.ttf?tw67j0") format("truetype"), url("fonts/memes.woff?tw67j0") format("woff"), url("fonts/memes.svg?tw67j0#memes") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 25, ../scss/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'memes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 41, ../scss/_icons.scss */
.icon-notifications:before {
  content: "";
}

/* line 46, ../scss/_icons.scss */
.icon-comment:before {
  content: "";
}

/* line 51, ../scss/_icons.scss */
.icon-settings:before {
  content: "";
}

/* line 56, ../scss/_icons.scss */
.icon-hot:before {
  content: "";
}

/* line 61, ../scss/_icons.scss */
.icon-feed:before {
  content: "";
}

/* line 66, ../scss/_icons.scss */
.icon-star-empty:before {
  content: "";
}

/* line 71, ../scss/_icons.scss */
.icon-star-full:before {
  content: "";
}

/* line 76, ../scss/_icons.scss */
.icon-add:before {
  content: "";
}

/* line 81, ../scss/_icons.scss */
.icon-logout:before {
  content: "";
}

/* line 86, ../scss/_icons.scss */
.icon-repost:before {
  content: "";
}

/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
/* line 24, ../scss/_dropzone.scss */
.dropzone, .dropzone * {
  box-sizing: border-box;
}

/* line 27, ../scss/_dropzone.scss */
.dropzone {
  position: relative;
  border: 3px dashed #6a6a6a;
  padding: 20px;
  text-align: center;
  -moz-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.4s ease-out 0s;
}
/* line 34, ../scss/_dropzone.scss */
.dropzone.dz-started {
  border: 3px solid #78B5E4;
}
/* line 38, ../scss/_dropzone.scss */
.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  width: 120px;
  margin: 0.5em;
}
/* line 44, ../scss/_dropzone.scss */
.dropzone .dz-preview .dz-progress {
  display: block;
  height: 15px;
  border: 1px solid #aaa;
}
/* line 48, ../scss/_dropzone.scss */
.dropzone .dz-preview .dz-progress .dz-upload {
  display: block;
  height: 100%;
  width: 0;
  background: green;
}
/* line 56, ../scss/_dropzone.scss */
.dropzone .dz-preview .dz-error-message {
  color: red;
  display: none;
}
/* line 61, ../scss/_dropzone.scss */
.dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
  display: block;
}
/* line 66, ../scss/_dropzone.scss */
.dropzone .dz-preview.dz-success .dz-success-mark {
  display: block;
}
/* line 71, ../scss/_dropzone.scss */
.dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
  position: absolute;
  display: none;
  left: 30px;
  top: 30px;
  width: 54px;
  height: 58px;
  left: 50%;
  margin-left: -27px;
}

/* line 69, ../scss/memes.scss */
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #444;
}

/* line 78, ../scss/memes.scss */
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 98%;
  max-width: 1000px;
}

/* line 86, ../scss/memes.scss */
header + .wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* line 1, ../scss/_header.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  height: auto;
  z-index: 10;
  background-color: #78B5E4;
  color: white;
}
/* line 13, ../scss/_header.scss */
header h1 {
  margin: 0;
}
/* line 16, ../scss/_header.scss */
header h1 a {
  font-weight: 300;
}
/* line 21, ../scss/_header.scss */
header a {
  border-bottom-color: #78B5E4;
  color: white;
  font-size: 32px;
}
/* line 26, ../scss/_header.scss */
header a:hover {
  color: white;
  border-bottom-color: white;
}
/* line 32, ../scss/_header.scss */
header .buttons {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 37, ../scss/_header.scss */
header .buttons a {
  border-bottom: none;
  margin-left: 12px;
}
/* line 41, ../scss/_header.scss */
header .buttons a:hover {
  border-bottom: none;
  color: #444;
}
/* line 46, ../scss/_header.scss */
header .buttons a.pp {
  opacity: 0.8;
}
/* line 50, ../scss/_header.scss */
header .buttons a.pp:hover {
  opacity: 1;
}
/* line 54, ../scss/_header.scss */
header .buttons a.pp img {
  height: 32px;
}

/* line 1, ../scss/_footer.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  border-top: 1px solid grey;
  background-color: white;
  text-align: center;
}
/* line 12, ../scss/_footer.scss */
footer .links a {
  border-bottom: none;
  margin: 0 25px;
  font-size: 30px;
  color: #444;
}
/* line 18, ../scss/_footer.scss */
footer .links a:hover, footer .links a.current {
  border-bottom: none;
  color: #78B5E4;
}
/* line 23, ../scss/_footer.scss */
footer .links a.pp {
  opacity: 0.8;
}
/* line 26, ../scss/_footer.scss */
footer .links a.pp:hover {
  opacity: 1;
}
/* line 30, ../scss/_footer.scss */
footer .links a.pp img {
  height: 32px;
  vertical-align: text-top;
}

/* line 5, ../scss/_meme.scss */
.memeContainer {
  overflow: hidden;
  *zoom: 1;
}
/* line 9, ../scss/_meme.scss */
.memeContainer .meme-ago {
  float: right;
  font-style: italic;
  font-weight: 400;
}
/* line 15, ../scss/_meme.scss */
.memeContainer .meme-comment {
  overflow: hidden;
  *zoom: 1;
  font-weight: bold;
}
/* line 20, ../scss/_meme.scss */
.memeContainer .meme-comment img.pp {
  float: left;
  height: 30px;
  margin-right: 10px;
}
/* line 27, ../scss/_meme.scss */
.memeContainer .meme-header {
  position: relative;
}
/* line 30, ../scss/_meme.scss */
.memeContainer .meme-header img.pp {
  float: left;
  height: 65px;
  margin-right: 10px;
}
/* line 36, ../scss/_meme.scss */
.memeContainer .meme-header .meme-ago {
  margin-top: 23px;
  font-size: 20px;
}
/* line 42, ../scss/_meme.scss */
.memeContainer img.meme {
  padding: 10px 0;
}
/* line 46, ../scss/_meme.scss */
.memeContainer > .meme-comment {
  font-size: 20px;
}
/* line 50, ../scss/_meme.scss */
.memeContainer .meme-actions {
  overflow: hidden;
  *zoom: 1;
}
/* line 53, ../scss/_meme.scss */
.memeContainer .meme-actions div {
  float: left;
  margin-left: 3.2%;
  padding: 1%;
  width: 29.2%;
  font-size: 20px;
  text-align: center;
}
/* line 64, ../scss/_meme.scss */
.memeContainer .meme-actions div:nth-of-type(3n+1) {
  margin-left: 0;
}
/* line 68, ../scss/_meme.scss */
.memeContainer .meme-actions div span {
  font-size: 36px;
}
/* line 72, ../scss/_meme.scss */
.memeContainer .meme-actions div span.icon-star-full {
  color: #78B5E4;
}
/* line 76, ../scss/_meme.scss */
.memeContainer .meme-actions div span.icon-repost.reposted {
  color: #78B5E4;
}
/* line 80, ../scss/_meme.scss */
.memeContainer .meme-actions div span.icon-repost.unrepostable {
  color: #919191;
  cursor: not-allowed;
}
/* line 89, ../scss/_meme.scss */
.memeContainer .meme-comments .meme-comment .meme-comment-name {
  overflow: hidden;
  *zoom: 1;
}
/* line 93, ../scss/_meme.scss */
.memeContainer .meme-comments .meme-comment p {
  margin-left: 40px;
}

/* line 93, ../scss/memes.scss */
.pageError {
  text-align: center;
}
/* line 95, ../scss/memes.scss */
.pageError h1 {
  font-size: 200px;
  color: #6a6a6a;
}

/* line 104, ../scss/memes.scss */
#login td:not([colspan="2"]), #signup td:not([colspan="2"]) {
  width: 50%;
}
/* line 108, ../scss/memes.scss */
#login td:nth-child(1), #signup td:nth-child(1) {
  text-align: right;
}
/* line 112, ../scss/memes.scss */
#login td:nth-child(2), #signup td:nth-child(2) {
  text-align: left;
}
/* line 116, ../scss/memes.scss */
#login [colspan="2"], #signup [colspan="2"] {
  text-align: center !important;
}

/* line 122, ../scss/memes.scss */
#memeUpload textarea {
  width: 50%;
  height: 40px;
}

/* line 129, ../scss/memes.scss */
.error {
  color: #f91616;
  font-weight: bold;
}
