@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i");
/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
/* line 9, ../scss/_sanitise.scss */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* line 14, ../scss/_sanitise.scss */
audio:not([controls]) {
  display: none;
}

/* line 18, ../scss/_sanitise.scss */
b,
strong {
  font-weight: bolder;
}

/* line 23, ../scss/_sanitise.scss */
button {
  -webkit-appearance: button;
  overflow: visible;
}

/* line 30, ../scss/_sanitise.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 35, ../scss/_sanitise.scss */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* line 40, ../scss/_sanitise.scss */
button,
select {
  text-transform: none;
}

/* line 45, ../scss/_sanitise.scss */
details {
  display: block;
}

/* line 49, ../scss/_sanitise.scss */
hr {
  overflow: visible;
}

/* line 53, ../scss/_sanitise.scss */
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}

/* line 59, ../scss/_sanitise.scss */
input {
  -webkit-border-radius: 0;
}
/* line 62, ../scss/_sanitise.scss */
input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
}
/* line 68, ../scss/_sanitise.scss */
input[type="number"] {
  width: auto;
}
/* line 72, ../scss/_sanitise.scss */
input[type="search"] {
  -webkit-appearance: textfield;
}
/* line 75, ../scss/_sanitise.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 82, ../scss/_sanitise.scss */
main {
  display: block;
}

/* line 86, ../scss/_sanitise.scss */
pre {
  overflow: auto;
}

/* line 90, ../scss/_sanitise.scss */
progress {
  display: inline-block;
}

/* line 94, ../scss/_sanitise.scss */
summary {
  display: block;
}

/* line 98, ../scss/_sanitise.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 102, ../scss/_sanitise.scss */
template {
  display: none;
}

/* line 106, ../scss/_sanitise.scss */
textarea {
  overflow: auto;
}

/* line 110, ../scss/_sanitise.scss */
[hidden] {
  display: none;
}

/*
 * Universal inheritance
 */
/* line 118, ../scss/_sanitise.scss */
*,
::before,
::after {
  box-sizing: inherit;
}

/* line 124, ../scss/_sanitise.scss */
* {
  font-size: inherit;
  line-height: inherit;
}

/* line 129, ../scss/_sanitise.scss */
::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/* line 135, ../scss/_sanitise.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}
/* line 143, ../scss/_sanitise.scss */
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/*
 * Opinionated defaults
 */
/* line 156, ../scss/_sanitise.scss */
* {
  margin: 0;
  padding: 0;
}

/*
*,
::before,
::after {
	border-style: solid;
	border-width: 0;
}
*/
/* line 172, ../scss/_sanitise.scss */
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  touch-action: manipulation;
}

/* line 185, ../scss/_sanitise.scss */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 189, ../scss/_sanitise.scss */
select::-ms-expand {
  display: none;
}
/* line 193, ../scss/_sanitise.scss */
select::-ms-value {
  color: currentColor;
}

/* line 200, ../scss/_sanitise.scss */
svg {
  fill: currentColor;
}

/* line 206, ../scss/_sanitise.scss */
[aria-busy="true"] {
  cursor: progress;
}

/* line 212, ../scss/_sanitise.scss */
[aria-controls] {
  cursor: pointer;
}

/* line 218, ../scss/_sanitise.scss */
[aria-disabled] {
  cursor: default;
}

/* line 224, ../scss/_sanitise.scss */
[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute;
}
/* line 229, ../scss/_sanitise.scss */
[hidden][aria-hidden="false"]:focus {
  clip: auto;
}

/*
 * Configurable defaults
 */
/* line 242, ../scss/_sanitise.scss */
* {
  background-repeat: no-repeat;
}

/* line 248, ../scss/_sanitise.scss */
:root {
  background-color: white;
  color: #444;
  font: 16px "Open Sans", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* line 260, ../scss/_sanitise.scss */
a {
  text-decoration: none;
}

/* line 266, ../scss/_sanitise.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* line 277, ../scss/_sanitise.scss */
button,
input,
select,
textarea {
  background-color: transparent;
  color: #444;
}

/* line 287, ../scss/_sanitise.scss */
button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

/*
code,
kbd,
pre,
samp {
	font-family: $monospace;
}
*/
/*
nav ol,
nav ul {
	list-style: none;
}
*/
/* line 327, ../scss/_sanitise.scss */
small {
  font-size: 14px;
}

/* line 333, ../scss/_sanitise.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 340, ../scss/_sanitise.scss */
textarea {
  resize: vertical;
}

/* line 346, ../scss/_sanitise.scss */
::-moz-selection {
  background-color: #444;
  color: white;
  text-shadow: none;
}

/* line 352, ../scss/_sanitise.scss */
::selection {
  background-color: #444;
  color: white;
  text-shadow: none;
}

/* line 1, ../scss/_typography.scss */
p {
  margin: 0;
  margin-bottom: 16px;
}

/* line 6, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: inherit;
  line-height: inherit;
}

/* line 12, ../scss/_typography.scss */
h1 {
  font-size: 36px;
  font-weight: 400;
  margin: 20px 0 16px;
}

/* line 18, ../scss/_typography.scss */
h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 16px;
}

/* line 24, ../scss/_typography.scss */
h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 16px 0 4px;
}

/* line 30, ../scss/_typography.scss */
h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0 4px;
}

/* line 36, ../scss/_typography.scss */
h5 {
  font-size: 16px;
  font-weight: 700;
  margin: 16px 0 4px;
}

/* line 42, ../scss/_typography.scss */
a {
  color: #3892d7;
  text-decoration: none;
  border-bottom: 1px solid #3892d7;
  -moz-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  -webkit-transition: all 0.15s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.15s ease-out 0s;
}
/* line 48, ../scss/_typography.scss */
a:hover {
  color: #78B5E4;
  border-bottom-color: #78B5E4;
}

/* line 1, ../scss/_tables.scss */
table {
  margin-bottom: 16px;
  width: 100%;
}

/* line 6, ../scss/_tables.scss */
caption {
  padding: 8px 0;
}

/* line 10, ../scss/_tables.scss */
th {
  border: none;
  text-align: left;
}

/* line 15, ../scss/_tables.scss */
tr {
  margin-bottom: 8px;
}

/* line 19, ../scss/_tables.scss */
th, td {
  padding: 8px;
  vertical-align: inherit;
}

/* line 24, ../scss/_tables.scss */
tfoot tr {
  text-align: left;
}

/* line 28, ../scss/_tables.scss */
tfoot td {
  color: #6a6a6a;
  font-size: 8px;
  font-style: italic;
  padding: 16px 4px;
}

/* line 1, ../scss/_forms.scss */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
select {
  background: white;
  border: none;
  border-bottom: 2px solid #919191;
  border-radius: 0;
  color: #444;
  display: inline-block;
  padding: 4px;
  vertical-align: middle;
  -moz-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  -webkit-transition: all 0.15s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.15s ease-out 0s;
}

/* line 26, ../scss/_forms.scss */
input[type="color"] {
  background: white;
  border: 2px solid #919191;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

/* line 35, ../scss/_forms.scss */
input:not([type]) {
  -webkit-appearance: none;
  background-clip: padding-box;
  border: 2px solid #919191;
  border-radius: 4px;
  display: inline-block;
  padding: 8px;
  text-align: left;
}

/* line 45, ../scss/_forms.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  border-color: #444;
}

/* line 64, ../scss/_forms.scss */
input:not([type]):focus {
  border-bottom-color: #444;
}

/* line 68, ../scss/_forms.scss */
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 1px thin #6a6a6a;
}

/* line 74, ../scss/_forms.scss */
input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
  background-color: #6a6a6a;
  color: #6a6a6a;
  cursor: not-allowed;
}

/* line 95, ../scss/_forms.scss */
input:not([type])[disabled] {
  background-color: #6a6a6a;
  color: #6a6a6a;
  cursor: not-allowed;
}

/* line 101, ../scss/_forms.scss */
input[readonly],
select[readonly],
textarea[readonly] {
  border-color: #6a6a6a;
  color: #6a6a6a;
}

/* line 108, ../scss/_forms.scss */
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  border-color: #d60606;
  color: #f91616;
}

/* line 115, ../scss/_forms.scss */
input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  outline-color: #f91616;
}

/* line 121, ../scss/_forms.scss */
select {
  -webkit-appearance: menulist-button;
  border: 2px solid #919191;
  vertical-align: sub;
}

/* line 127, ../scss/_forms.scss */
select[multiple] {
  height: auto;
}

/* line 131, ../scss/_forms.scss */
label {
  line-height: 2;
}

/* line 135, ../scss/_forms.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 8px 0;
}

/* line 141, ../scss/_forms.scss */
legend {
  border-bottom: 2px solid #919191;
  color: #6a6a6a;
  display: block;
  margin-bottom: 8px;
  padding: 8px 0;
  width: 100%;
}

/* line 150, ../scss/_forms.scss */
textarea {
  background: white;
  border: 2px solid #919191;
  border-radius: 0;
  display: block;
  margin-bottom: 8px;
  width: 90%;
  width: calc(100% - calc(2 * 8px));
  max-width: 100%;
  padding: 8px;
  vertical-align: middle;
  -moz-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  -webkit-transition: all 0.15s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.15s ease-out 0s;
}

/* line 1, ../scss/_buttons.scss */
input[type=submit],
input[type=reset],
button {
  background: #78B5E4;
  border: none;
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 8px 16px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -moz-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  -webkit-transition: all 0.15s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.15s ease-out 0s;
}

/* line 18, ../scss/_buttons.scss */
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
}

/* line 24, ../scss/_buttons.scss */
input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
  background: #3892d7;
}

/* line 31, ../scss/_buttons.scss */
input[type=submit]:active,
input[type=reset]:active,
button:active {
  background: #3892d7;
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
  outline-offset: -2px;
}

/* line 40, ../scss/_buttons.scss */
input[type=submit]:focus,
input[type=reset]:focus,
button:focus {
  background: #3892d7;
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
}

/* line 49, ../scss/_buttons.scss */
input[type=submit]:disabled,
button:disabled {
  background: #919191;
  color: white;
  cursor: not-allowed;
}

/* line 72, ../scss/memes.scss */
table {
  width: 100%;
}
/* line 75, ../scss/memes.scss */
table th {
  text-align: left;
}
/* line 78, ../scss/memes.scss */
table td {
  text-align: center;
}

/* line 83, ../scss/memes.scss */
img {
  max-width: 100%;
}

@font-face {
  font-family: 'memes';
  src: url("fonts/memes.eot?tw67j0");
  src: url("fonts/memes.eot?tw67j0#iefix") format("embedded-opentype"), url("fonts/memes.ttf?tw67j0") format("truetype"), url("fonts/memes.woff?tw67j0") format("woff"), url("fonts/memes.svg?tw67j0#memes") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 25, ../scss/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'memes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 41, ../scss/_icons.scss */
.icon-notifications:before {
  content: "";
}

/* line 46, ../scss/_icons.scss */
.icon-comment:before {
  content: "";
}

/* line 51, ../scss/_icons.scss */
.icon-settings:before {
  content: "";
}

/* line 56, ../scss/_icons.scss */
.icon-hot:before {
  content: "";
}

/* line 61, ../scss/_icons.scss */
.icon-feed:before {
  content: "";
}

/* line 66, ../scss/_icons.scss */
.icon-star-empty:before {
  content: "";
}

/* line 71, ../scss/_icons.scss */
.icon-star-full:before {
  content: "";
}

/* line 76, ../scss/_icons.scss */
.icon-add:before {
  content: "";
}

/* line 81, ../scss/_icons.scss */
.icon-logout:before {
  content: "";
}

/* line 86, ../scss/_icons.scss */
.icon-repost:before {
  content: "";
}

/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
/* line 24, ../scss/_dropzone.scss */
.dropzone, .dropzone * {
  box-sizing: border-box;
}

/* line 27, ../scss/_dropzone.scss */
.dropzone {
  position: relative;
  border: 3px dashed #6a6a6a;
  padding: 20px;
  text-align: center;
  -moz-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.4s ease-out 0s;
}
/* line 34, ../scss/_dropzone.scss */
.dropzone.dz-started {
  border: 3px solid #78B5E4;
}
/* line 38, ../scss/_dropzone.scss */
.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  width: 120px;
  margin: 0.5em;
}
/* line 44, ../scss/_dropzone.scss */
.dropzone .dz-preview .dz-progress {
  display: block;
  height: 15px;
  border: 1px solid #aaa;
}
/* line 48, ../scss/_dropzone.scss */
.dropzone .dz-preview .dz-progress .dz-upload {
  display: block;
  height: 100%;
  width: 0;
  background: green;
}
/* line 56, ../scss/_dropzone.scss */
.dropzone .dz-preview .dz-error-message {
  color: red;
  display: none;
}
/* line 61, ../scss/_dropzone.scss */
.dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
  display: block;
}
/* line 66, ../scss/_dropzone.scss */
.dropzone .dz-preview.dz-success .dz-success-mark {
  display: block;
}
/* line 71, ../scss/_dropzone.scss */
.dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
  position: absolute;
  display: none;
  left: 30px;
  top: 30px;
  width: 54px;
  height: 58px;
  left: 50%;
  margin-left: -27px;
}

/* line 91, ../scss/memes.scss */
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #444;
}

/* line 100, ../scss/memes.scss */
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 98%;
  max-width: 1000px;
}

/* line 108, ../scss/memes.scss */
header + .wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 480px) {
  /* line 108, ../scss/memes.scss */
  header + .wrapper {
    margin-top: 0;
    margin-bottom: 70px;
  }
}

/* line 1, ../scss/_header.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  height: auto;
  z-index: 10;
  background-color: #78B5E4;
  color: white;
}
@media only screen and (max-width: 480px) {
  /* line 1, ../scss/_header.scss */
  header {
    position: static;
    padding: 10px 0;
    text-align: center;
  }
}
/* line 19, ../scss/_header.scss */
header h1 {
  margin: 0;
}
/* line 22, ../scss/_header.scss */
header h1 a {
  font-weight: 300;
}
/* line 27, ../scss/_header.scss */
header a {
  border-bottom-color: #78B5E4;
  color: white;
  font-size: 32px;
}
/* line 32, ../scss/_header.scss */
header a:hover {
  color: white;
  border-bottom-color: white;
}
/* line 38, ../scss/_header.scss */
header .buttons {
  position: absolute;
  right: 0;
  top: 0;
}
@media only screen and (max-width: 480px) {
  /* line 38, ../scss/_header.scss */
  header .buttons {
    position: static;
  }
}
/* line 47, ../scss/_header.scss */
header .buttons a {
  border-bottom: none;
  margin-left: 12px;
}
/* line 51, ../scss/_header.scss */
header .buttons a:hover {
  border-bottom: none;
  color: #444;
}
/* line 56, ../scss/_header.scss */
header .buttons a.pp {
  opacity: 0.8;
}
/* line 60, ../scss/_header.scss */
header .buttons a.pp:hover {
  opacity: 1;
}
/* line 64, ../scss/_header.scss */
header .buttons a.pp img {
  height: 32px;
}

/* line 1, ../scss/_footer.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  border-top: 1px solid grey;
  background-color: white;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  /* line 1, ../scss/_footer.scss */
  footer {
    padding: 10px 0;
  }
}
/* line 16, ../scss/_footer.scss */
footer .links a {
  border-bottom: none;
  margin: 0 25px;
  font-size: 30px;
  color: #444;
}
@media only screen and (max-width: 1000px) {
  /* line 16, ../scss/_footer.scss */
  footer .links a {
    margin: 0 20px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 16, ../scss/_footer.scss */
  footer .links a {
    margin: 0 10px;
  }
}
/* line 29, ../scss/_footer.scss */
footer .links a:hover, footer .links a.current {
  border-bottom: none;
  color: #78B5E4;
}
/* line 34, ../scss/_footer.scss */
footer .links a.pp {
  opacity: 0.8;
}
/* line 37, ../scss/_footer.scss */
footer .links a.pp:hover {
  opacity: 1;
}
/* line 41, ../scss/_footer.scss */
footer .links a.pp img {
  height: 32px;
  vertical-align: text-top;
}
/* line 50, ../scss/_footer.scss */
footer .signup p {
  margin-bottom: 0;
}
@media only screen and (max-width: 480px) {
  /* line 54, ../scss/_footer.scss */
  footer .signup p .cool {
    display: none;
  }
}

/* line 5, ../scss/_meme.scss */
.memeContainer {
  overflow: hidden;
  *zoom: 1;
}
/* line 9, ../scss/_meme.scss */
.memeContainer .meme-ago {
  float: right;
  font-style: italic;
  font-weight: 400;
}
/* line 15, ../scss/_meme.scss */
.memeContainer .meme-comment {
  overflow: hidden;
  *zoom: 1;
  font-weight: bold;
}
/* line 20, ../scss/_meme.scss */
.memeContainer .meme-comment img.pp {
  float: left;
  height: 30px;
  margin-right: 10px;
}
/* line 27, ../scss/_meme.scss */
.memeContainer .meme-header {
  position: relative;
}
/* line 30, ../scss/_meme.scss */
.memeContainer .meme-header img.pp {
  float: left;
  height: 65px;
  margin-right: 10px;
}
/* line 36, ../scss/_meme.scss */
.memeContainer .meme-header .meme-ago {
  margin-top: 23px;
  font-size: 20px;
}
/* line 42, ../scss/_meme.scss */
.memeContainer img.meme {
  padding: 10px 0;
}
/* line 46, ../scss/_meme.scss */
.memeContainer > .meme-comment {
  font-size: 20px;
}
/* line 50, ../scss/_meme.scss */
.memeContainer .meme-actions {
  overflow: hidden;
  *zoom: 1;
}
/* line 53, ../scss/_meme.scss */
.memeContainer .meme-actions div {
  float: left;
  margin-left: 3.2%;
  padding: 1%;
  width: 29.2%;
  font-size: 20px;
  text-align: center;
}
/* line 64, ../scss/_meme.scss */
.memeContainer .meme-actions div:nth-of-type(3n+1) {
  margin-left: 0;
}
@media only screen and (max-width: 480px) {
  /* line 53, ../scss/_meme.scss */
  .memeContainer .meme-actions div {
    font-size: 16px;
  }
}
@media only screen and (max-width: 320px) {
  /* line 53, ../scss/_meme.scss */
  .memeContainer .meme-actions div {
    font-size: 14px;
  }
}
/* line 76, ../scss/_meme.scss */
.memeContainer .meme-actions div span {
  font-size: 36px;
}
/* line 80, ../scss/_meme.scss */
.memeContainer .meme-actions div span.icon-star-full {
  color: #78B5E4;
}
/* line 84, ../scss/_meme.scss */
.memeContainer .meme-actions div span.icon-repost.reposted {
  color: #78B5E4;
}
/* line 88, ../scss/_meme.scss */
.memeContainer .meme-actions div span.icon-repost.unrepostable {
  color: #919191;
  cursor: not-allowed;
}
/* line 97, ../scss/_meme.scss */
.memeContainer .meme-comments .meme-comment .meme-comment-name {
  overflow: hidden;
  *zoom: 1;
}
/* line 101, ../scss/_meme.scss */
.memeContainer .meme-comments .meme-comment p {
  margin-left: 40px;
}

/* line 1, ../scss/_memeGrid.scss */
.memeGrid {
  margin: 16px;
  overflow: hidden;
  *zoom: 1;
}
/* line 5, ../scss/_memeGrid.scss */
.memeGrid .memeGridContainer {
  position: relative;
  margin-left: 3.2%;
  float: left;
  width: 31.20%;
  word-wrap: break-word;
}
/* line 12, ../scss/_memeGrid.scss */
.memeGrid .memeGridContainer:nth-of-type(3n+1) {
  margin-left: 0;
}
/* line 16, ../scss/_memeGrid.scss */
.memeGrid .memeGridContainer .memeLink {
  display: block;
  border-bottom: none;
  z-index: 10;
}
/* line 21, ../scss/_memeGrid.scss */
.memeGrid .memeGridContainer .memeLink:hover {
  border-bottom: none;
}
/* line 24, ../scss/_memeGrid.scss */
.memeGrid .memeGridContainer .memeLink:hover > img {
  opacity: 0.25;
}
/* line 28, ../scss/_memeGrid.scss */
.memeGrid .memeGridContainer .memeLink:hover .memeDetails {
  opacity: 1;
}
/* line 33, ../scss/_memeGrid.scss */
.memeGrid .memeGridContainer .memeLink .memeDetails {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  text-align: center;
  opacity: 0;
  -moz-transition: all 0.25s ease-out 0s;
  -o-transition: all 0.25s ease-out 0s;
  -webkit-transition: all 0.25s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.25s ease-out 0s;
  font-size: 20px;
  color: #444;
}
@media only screen and (max-width: 480px) {
  /* line 45, ../scss/_memeGrid.scss */
  .memeGrid .memeGridContainer .memeLink .memeDetails p {
    margin-bottom: 0;
  }
}
/* line 51, ../scss/_memeGrid.scss */
.memeGrid .memeGridContainer .memeLink img.meme {
  -moz-transition: all 0.25s ease-out 0s;
  -o-transition: all 0.25s ease-out 0s;
  -webkit-transition: all 0.25s ease-out;
  -webkit-transition-delay: 0s;
  transition: all 0.25s ease-out 0s;
}

/* line 1, ../scss/_profile.scss */
.profile {
  margin-bottom: 20px;
  border-bottom: 1px solid #444;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}
/* line 7, ../scss/_profile.scss */
.profile img.pp {
  margin: 16px 0;
  width: 150px;
}
/* line 12, ../scss/_profile.scss */
.profile h1 {
  margin: 0;
}
/* line 16, ../scss/_profile.scss */
.profile .stats {
  overflow: hidden;
  *zoom: 1;
  margin: 16px 0;
}
/* line 20, ../scss/_profile.scss */
.profile .stats > div {
  float: left;
  margin-left: 3.2%;
  width: 22.6%;
}
/* line 25, ../scss/_profile.scss */
.profile .stats > div:nth-of-type(4n+1) {
  margin-left: 0;
}
/* line 29, ../scss/_profile.scss */
.profile .stats > div .number {
  font-size: 30px;
}

/* line 120, ../scss/memes.scss */
.pageError {
  text-align: center;
}
/* line 122, ../scss/memes.scss */
.pageError h1 {
  font-size: 200px;
  color: #6a6a6a;
}

/* line 131, ../scss/memes.scss */
#login td:not([colspan="2"]), #signup td:not([colspan="2"]) {
  width: 50%;
}
/* line 135, ../scss/memes.scss */
#login td:nth-child(1):not([colspan="2"]), #signup td:nth-child(1):not([colspan="2"]) {
  text-align: right;
  color: #6a6a6a;
}
/* line 140, ../scss/memes.scss */
#login td:nth-child(2), #signup td:nth-child(2) {
  text-align: left;
}
/* line 144, ../scss/memes.scss */
#login [colspan="2"], #signup [colspan="2"] {
  text-align: center !important;
}

/* line 149, ../scss/memes.scss */
#memeUpload {
  /*textarea {
  	width: 50%;
  	height: 40px;
  }*/
}

/* line 157, ../scss/memes.scss */
.error {
  color: #f91616;
  font-weight: bold;
}

/* line 162, ../scss/memes.scss */
.center {
  text-align: center;
}
