footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px 0;
	border-top: 1px solid grey;
	background-color: $white;
	text-align: center;

	@include breakpoint(phone) {
		padding: 10px 0;
	}

	.links {
		a {
			border-bottom: none;
			margin: 0 25px;
			font-size: $font-size-h2;
			color: $black;

			@include breakpoint(tablet) {
				margin: 0 20px;
			}
			@include breakpoint(phone) {
				margin: 0 10px;
			}

			&:hover, &.current {
				border-bottom: none;
				color: $lblue;
			}

			&.pp {
				opacity: 0.8;

				&:hover {
					opacity: 1;
				}

				img {
					height: 32px;
					vertical-align: text-top;
				}
			}
		}
	}

	.signup {
		p {
			margin-bottom: 0;

			@include breakpoint(phone) {
				.cool {
					display: none;
				}
			}
		}
	}
}