header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px 0;
	height: auto;

	z-index: 10;
	background-color: $lblue;
	color: $white;

	h1 {
		margin: 0;

		a {
			font-weight: 400;
		}
	}

	a {
		border-bottom-color: $lblue;
		color: $white;
		font-size: 32px;

		&:hover {
			color: $white;
			border-bottom-color: $white;
		}
	}

	.buttons {
		position: absolute;
		right: 0;
		top: 0;

		a {
			border-bottom: none;
			margin-left: 12px;

			&:hover {
				border-bottom: none;
				color: $black;
			}

			&.pp {
				// TODO fix the pp being out of alignment

				//float: left;

				img {
					height: 32px;
				}
			}
		}
	}
}