header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 20px 0;
	height: auto;

	z-index: 10;
	background-color: $lblue;
	color: $white;

	@include breakpoint(phone) {
		position: static;
		padding: 10px 0;
		text-align: center;
	}

	h1 {
		margin: 0;

		a {
			font-weight: 300;
		}
	}

	a {
		border-bottom-color: $lblue;
		color: $white;
		font-size: 32px;

		&:hover {
			color: $white;
			border-bottom-color: $white;
		}
	}

	.buttons {
		position: absolute;
		right: 0;
		top: 0;

		@include breakpoint(phone) {
			position: static;
		}

		a {
			border-bottom: none;
			margin-left: 12px;

			&:hover, &.current {
				border-bottom: none;
				color: $black;
			}

			&.pp {
				// TODO fix the pp being out of alignment
				opacity: 0.8;

				&:hover, &.current {
					opacity: 1;
				}

				img {
					height: 32px;
				}
			}
		}
	}
}