$icomoon-font-path: "fonts" !default;

$icon-notifications: "\e951";
$icon-comment: "\e96b";
$icon-settings: "\e994";
$icon-hot: "\e9a9";
$icon-feed: "\e9bd";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-add: "\ea0a";
$icon-logout: "\ea14";
$icon-repost: "\ea2d";

@font-face {
  font-family: 'memes';
  src:  url('#{$icomoon-font-path}/memes.eot?tw67j0');
  src:  url('#{$icomoon-font-path}/memes.eot?tw67j0#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/memes.ttf?tw67j0') format('truetype'),
    url('#{$icomoon-font-path}/memes.woff?tw67j0') format('woff'),
    url('#{$icomoon-font-path}/memes.svg?tw67j0#memes') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'memes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notifications {
  &:before {
    content: $icon-notifications;
  }
}
.icon-comment {
  &:before {
    content: $icon-comment;
  }
}
.icon-settings {
  &:before {
    content: $icon-settings;
  }
}
.icon-hot {
  &:before {
    content: $icon-hot;
  }
}
.icon-feed {
  &:before {
    content: $icon-feed;
  }
}
.icon-star-empty {
  &:before {
    content: $icon-star-empty;
  }
}
.icon-star-full {
  &:before {
    content: $icon-star-full;
  }
}
.icon-add {
  &:before {
    content: $icon-add;
  }
}
.icon-logout {
  &:before {
    content: $icon-logout;
  }
}
.icon-repost {
  &:before {
    content: $icon-repost;
  }
}

