@charset 'utf-8';

@import 'compass/css3';
@import 'compass/utilities/general/clearfix';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');

@mixin breakpoint($point) {
	@if $point == small-phone {
		@media only screen and (max-width: 320px)  { @content; }
	}
	@elseif $point == phone {
		@media only screen and (max-width: 480px)  { @content; }
	}
	@else if $point == small-tablet {
		@media only screen and (max-width: 768px) { @content; }
	}
	@else if $point == tablet {
		@media only screen and (max-width: 1000px) { @content; }
	}
	@else if $point == large {
		@media only screen and (min-width: 1260px) { @content; }
	}
}

// colours
$white: white;
$black: #444;
$grey: lighten($black, 15%);
$greyed-out: lighten($black, 30%);
$lblue: #78B5E4;
$vlblue: lighten($lblue, 23%);
$dblue: darken($lblue, 15%);
$red: #f91616;
$dividers: $grey;

// partly based off marx styling:

// box model
$br: 4px;
$xs-pad: 4px;
$sm-pad: 8px;
$md-pad: 16px;
$lg-pad: 20px;
$xlg-pad: 40px;

// font sizes
$font-size-base: 16px;
$font-size-large: ceil(($font-size-base * 1.25));
$font-size-small: ceil(($font-size-base * .85));
$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: $font-size-base;
$font-size-h6: $font-size-small;
$line-height-base: 1.4;

$border: 1px solid $black;
$border-form: 2px solid $greyed-out;

// fonts
$sans-serif: 'Open Sans', Helvetica, sans-serif;
$monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family: $sans-serif;

// clear some defaults first
@import 'sanitise';

// generics

@import 'typography','tables','forms','buttons';

table {
	width: 100%;

	th {
		text-align: left;
	}
	td {
		text-align: center;
	}
}

img {
	max-width: 100%;
}

//specifics 

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 98%;
	max-width: 1000px;
}

// main body wrapper
header + .wrapper {
	margin-top: 100px;
	margin-bottom: 100px;

	@include breakpoint(phone) {
		margin-top: 0;
		margin-bottom: 70px;
	}
}

// layouts & pages
@import 'icons','dropzone','header','footer','meme','memeGrid','profile','notifications','lists';

.pageError {
	text-align: center;
	h1 {
		font-size: 200px;
		color: $grey;

		@include breakpoint(phone) {
			font-size: 100px;
		}
	}
}

// forms
#login, #signup, .settings, .api {
	td:not([colspan="2"]) {
		width: 50%;
	}

	td:nth-child(1):not([colspan="2"]) {
		text-align: right;
		color: $grey;
	}

	td:nth-child(2) {
		text-align: left;
	}

	[colspan="2"] {
		text-align: center !important;
	}
}

.grecaptcha-badge {
	//margin: 10px auto;
}

.api .result {
	word-break: break-all;

	td:nth-child(1):not([colspan="2"]) {
		vertical-align: top;
	}
}

.settings [type="submit"] {
	margin: $xs-pad;
	font-size: $font-size-small;
}

[onClick] {
	cursor: pointer;
}

// text
.error {
	color: $red;
	//font-weight: bold;
}

.center {
	text-align: center;
}