@charset 'utf-8';

@import 'compass/css3';
@import "compass/utilities/general/clearfix";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');

$white: white;
$black: #444;
$grey: lighten($black, 10%);
$lblue: #78B5E4;
$dblue: darken($lblue, 15%);
$red: #f91616;

// generics

table {
	width: 100%;

	th {
		text-align: left;
	}
	td {
		text-align: center;
	}
}


//specifics 

body {
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', sans-serif;
	color: $black;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: auto;

	color: $white;
	background-color: $lblue;

	h1 {
		font-weight: 400;
	}
}

.wrapper {
	margin: 0 auto;
	width: 98%;
	max-width: 1000px;
}

header + .wrapper {
	margin-top: 100px;
}

#login, #signup {
	td:not([colspan="2"]) {
		width: 50%;
	}

	td:nth-child(1) {
		text-align: right;
	}

	td:nth-child(2) {
		text-align: left;
	}

	[colspan="2"] {
		text-align: center !important;
	}
}

.error {
	color: $red;
	font-weight: bold;
}