@font-face {
  font-family: 'memes';
  src:  url('fonts/memes.eot?tw67j0');
  src:  url('fonts/memes.eot?tw67j0#iefix') format('embedded-opentype'),
    url('fonts/memes.ttf?tw67j0') format('truetype'),
    url('fonts/memes.woff?tw67j0') format('woff'),
    url('fonts/memes.svg?tw67j0#memes') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'memes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notifications:before {
  content: "\e951";
}
.icon-comment:before {
  content: "\e96b";
}
.icon-settings:before {
  content: "\e994";
}
.icon-hot:before {
  content: "\e9a9";
}
.icon-feed:before {
  content: "\e9bd";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-add:before {
  content: "\ea0a";
}
.icon-logout:before {
  content: "\ea14";
}
.icon-repost:before {
  content: "\ea2d";
}

