$icomoon-font-path: "fonts" !default;

$icon-notifications: "\e951";
$icon-comment: "\e96b";
$icon-settings: "\e994";
$icon-hot: "\e9a9";
$icon-feed: "\e9bd";
$icon-star-empty: "\e9d7";
$icon-star-full: "\e9d9";
$icon-add: "\ea0a";
$icon-logout: "\ea14";
$icon-repost: "\ea2d";

