Options -Indexes

DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine on
	RewriteBase /

	# HTTPS 301s
	RewriteCond %{HTTPS} off          [OR]
	RewriteCond %{HTTP_HOST} ^www\.   [NC]
	RewriteRule ^ https://memes.garethnunns.com%{REQUEST_URI} [R=301,L,NE]

	# forbidden things
	RewriteRule \.exe - [F]
	RewriteRule site/PHPMailer [F]

	# stars on a meme
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^stars/([0-9]+)$ stars.php?meme=$1 [L,QSA]

	# reposts on a meme
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^reposts/([0-9]+)$ reposts.php?meme=$1 [L,QSA]

	# forward onto profile page (profile page never has any trailing slashes)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([a-zA-Z0-9-_]+)[\/]+?$ $1 [R]

	# profile page
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([a-zA-Z0-9-_]+)$ profile.php?username=$1 [L,QSA]

	# followers
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([a-zA-Z0-9-_]+)/followers$ followers.php?username=$1 [L,QSA]

	# following
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([a-zA-Z0-9-_]+)/following$ following.php?username=$1 [L,QSA]

	# individual meme
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([a-zA-Z0-9-_]+)/([0-9]+)$ meme.php?username=$1&meme=$2 [L,QSA]
</IfModule>

#Error Documents
	ErrorDocument 400 /404.php
	ErrorDocument 401 /404.php
	ErrorDocument 403 /404.php
	ErrorDocument 404 /404.php
	ErrorDocument 500 /404.php

# compress files
php_flag zlib.output_compression On
php_value zlib.output_compression_level 5

<IfModule mod_deflate.c>
	# Compress css, plaintext, xml, gif, and images in transport.
	AddOutputFilterByType DEFLATE text/css text/plain text/xml image/gif image/jpg image/jpeg image/png
</IfModule>

<ifModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_item_include file .(html?|txt|css|js|php|pl)$
	mod_gzip_item_include handler ^cgi-script$
	mod_gzip_item_include mime ^text/.*
	mod_gzip_item_include mime ^application/x-javascript.*
	mod_gzip_item_exclude mime ^image/.*
	mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>